﻿@{
    ViewBag.Title = "Строительная компания Регион";
}

<div class="header-area parallax" style="margin:-13px;">
    <div class="overlay">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="sub-heading">
                        <h3>МОНОЛИТНО-КАРКАСНАЯ ТЕХНОЛОГИЯ</h3>
                        <h1>Строительная компания <span>Регион</span></h1>
                        <h5>
                            строительство элитных объектов&nbsp;по цене эконом класса
                        </h5><a class="button go-to-form" href="#">
                            Получите спецпредложение!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="section-head">
                    <h2>Инновационная технология</h2>
                    <p>
                        Сочетание трех прогрессивных строительных технологий: металлокаркасной, пенобетонной и применение несъемной опалубки из стеклофибробетона с использованием ЛМК в качестве несущего каркаса для стен и перекрытий, устройство несъемной опалубки из СФБ с применением в качестве утеплителя легкого пенобетона, позволяет быстро, экономично и качественно возводить жилые и общественные здания высотой до 35 этажей.
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="about-more-area parallax">
        <div class="overlay">
            <div class="container">
                <div class="about-boxes">
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-4 no-padding">
                            <div class="single-about">
                                <div class="single-about-img">
                                    <img alt="about" src="/Content/img/3.jpg">
                                </div>
                                <div class="single-info">
                                    <h4>МЕТАЛЛОКАРКАС</h4>
                                    <p>
                                        Несущий каркас здания выполняется из легких металлических конструкций
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 no-padding">
                            <div class="single-about">
                                <div class="single-about-img">
                                    <img alt="about" src="/Content/img/2.jpg">
                                </div>
                                <div class="single-info">
                                    <h4>НЕСЪЕМНАЯ ОПАЛУБКА</h4>
                                    <p>
                                        Панели опалубки крепятся самонарезающими винтами к каркасу
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 no-padding">
                            <div class="single-about alt">
                                <div class="single-about-img">
                                    <img alt="about" src="/Content/img/1.jpg">
                                </div>
                                <div class="single-info">
                                    <h4>ПЕНОБЕТОН</h4>
                                    <p>
                                        Пространство между листами заполняется монолитным пенобетоном
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-cta">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3>Успешно реализуем проекты</h3>
                            <h1>ДЛЯ НОВЫХ И ВНОВЬ ОБРАТИВШИХСЯ КЛИЕНТОВ </h1><a class="button go-to-form" href="#">
                                Напишите нам!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featured-project-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Применимость технологии</h2>
                    <p>
                        По предлагаемой технологии могут возводиться жилые здания, социальные объекты и спортивные сооружения,
                        промышленные здания, многоуровневые автомобильные стоянки и паркинги. Технология может применяться при реконструкции,
                        в том числе при надстройке мансардных этажей.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup" href="/Alushta_object">
                        <img alt="project" src="/Content/img/1(1).jpg">
                        <h6>Многоэтажные здания до 35 этажей. <small>Жилые</small></h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup" href="/Objects">
                        <img alt="project" src="/Content/img/2(1).jpg">

                        <h6>Индивидуальные жилые дома до 3 этажей. <small>Жилые</small></h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup" href="/Kindergarten_object">
                        <img alt="project" src="/Content/img/Social.png">

                        <h6>Спортивные и социальные объекты. <small>Административные</small></h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup" href="/Objects">
                        <img alt="project" src="/Content/img/parking.jpg">

                        <h6>Автопарковки, многоуровневые стоянки <small>Хозяйственные</small></h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup" href="/Objects">
                        <img alt="project" src="/Content/img/industrial.jpg">

                        <h6>Промышленные здания и сооружения <small>Хозяйственные</small></h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup" href="/Objects">
                        <img alt="project" src="/Content/img/recons.jpg">

                        <h6>Надстройка мансардных этажей<small>Реконструкция</small></h6>
                    </a>
                </div>
            </div>
        </div>
        @*<div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Проектные декларации</h2>
                    <p>
                        Жилой, двухсекционный, девятиэтажный, двухподъездный
                        дом по адресу: г. Алушта, улица 60 лет СССР, в районе дома №16 <br/> <a href="/Alushta" target="_blank">Подробнее...</a><br/>
                        <span style="font-style:italic; color: grey;">(Опубликовано 02.12.2015)</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>*@
    </div>
</div>
<div class="our-philosophy-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text-center-tab">
                    <img alt="philosophy" src="/Content/img/philosophy.jpg">
                </div>
            </div>
            <div class="col-md-7">
                <h4>Преимущества</h4>
                <p>
                    По данной технологии возможно вести ускоренное строительство зданий от 2-х до 35 этажей.
                    В результате получаются быстровозводимые здания эконом-класса, которые обладают повышенной покупательской привлекательностью, так как внешний облик зданий – это здания премиум класса.
                </p>
                <ul class="philosophy-list">
                    <li><i class="fa fa-bank"></i> <span>устройство облегченных фундаментов по традиционной технологии</span></li>
                    <li><i class="fa fa-bolt"></i> <span>монтаж несущего каркаса из черного металла, легкие металлические конструкции </span></li>
                    <li><i class="fa fa-building"></i> <span>возведение наружных стен выполняется методом «несъемной опалубки»</span></li>
                    <li><i class="fa fa-clock-o"></i> <span>перегородки монтируются из выполненных в заводских условиях готовых панелей</span></li>
                    <li>
                        <i class="fa fa-cube"></i> <span>
                            утепление производится путем заполнения опалубки легким пенобетоном
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-level-up"></i> <span>
                            перекрытия выполняются из пустотных ж/б плит или из металлических ферм
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="services-area parallax">
    <div class="overlay">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="section-head">
                        <h2>Индивидуальное строительство</h2>
                        <p>
                            Преимущества строительства коттеджей из металлокаркаса.
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Облегченный фундамент</h4>
                        <p>
                            Небольшой вес дома позволяет выполнить строительство облегченного фундамента
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Отсутствие усадки</h4>
                        <p>
                            Лёгкий вес не способствует усадке - дом можно эксплуатировать сразу
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Не требуется квалификация</h4>
                        <p>
                            Собрать каркас сможет бригада из 3-4 рабочих, все элементы имеют маркировку
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Высокая скорость</h4>
                        <p>
                            Сборка дома осуществляется на болтах, при этом достигается высокая скорость сборки
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Простое оборудование</h4>
                        <p>
                            При монтаже не требуется применения тяжелого подъёмного оборудования
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Недорогая эксплуатация</h4>
                        <p>
                            Высокие теплоизоляционные свойства - экономия на отоплении и охлаждении
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Удобство обслуживания</h4>
                        <p>
                            Инженерные коммуникации размещаются в стенах - к ним легко добраться
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <h4>Надежность и прочность</h4>
                        <p>
                            Гарантируется высокая прочность и сейсмоустойчивость до 9 баллов
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="testimonial-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Наши клиенты о нас</h2>
                    <p>
                        Обычно мы просим наших клиентов описать в двух словах опыт работы с нашей технологией.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center">
            <div class="owl-carousel" id="owl-example">
                <div class="single-testimonial">
                    <img alt="client" src="/Content/img/1(2).jpg">

                    <h5>Иван Иванов<small>Ген. директор, Retail Rus</small></h5><i class="tequote fa fa-quote-right"></i>

                    <blockquote>
                        Некий исключительно положительный отзыв
                    </blockquote>
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
                <div class="single-testimonial">
                    <img alt="client" src="/Content/img/2(2).jpg">

                    <h5>Ольга Петрова <small>Индивидуальный предприниматель, Краснодар</small></h5><i class="tequote fa fa-quote-right"></i>

                    <blockquote>
                        Некий восхищенный отзыв с рекомендациями
                    </blockquote>
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
                <div class="single-testimonial">
                    <img alt="client" src="/Content/img/1(2).jpg">

                    <h5>Петр Иванов <small>Брат Ивана Иванова</small></h5><i class="tequote fa fa-quote-right"></i>

                    <blockquote>
                        Некий отзыв, похожий на все остальные
                    </blockquote>
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
                <div class="single-testimonial">
                    <img alt="client" src="/Content/img/2(2).jpg">

                    <h5>Татьяна Петрова<small>Домохозяйка, Керчь</small></h5><i class="tequote fa fa-quote-right"></i>

                    <blockquote>
                        Некий на удивление технически подробный отзыв
                    </blockquote>
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="our-philosophy-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7" style="width:100%;">
                    <h4>Несъемная опалубка из СФБ (стеклофибробетона)</h4>
                    <p style="margin-top:20px;">
                        Несъемная фасадная опалубка из стеклофибробетона, полученная методом пневмонабрызга, – это новый, технологически прогрессивный и быстрый способ создания бетонных панелей и  наружного декора здания. Панели изготавливаются в производственных условиях из свежеприготовленной бетонной смеси, армированной щелочестойкой стеклофиброй. Готовые панели из стеклофибробетона, смонтированные на стройплощадке,  после монолитной заливки пенобетоном являются наружной частью стены здания
                    </p>
                    <p style ="margin-top:20px;">
                        Главный плюс несъемной опалубки из стеклофибробетона - после монтажа стены здания она не требует  какой либо дополнительной облицовки. При том, что панели могут быть любой сложности, с элементами  декора, любой фактуры и цвета.
                    </pstyle>
                    <p style="margin-top:20px;">
                        Плюс этого метода также в его экономном расходовании материалов. Благодаря повышенным прочностным свойствам  стеклофибробетона (более 800кг/см²)  изделия из этого материала могут иметь небольшую толщину  стенок (5-25 мм.), что обеспечивает  малый вес панелей (1 м² панели весит примерно 20-25 кг.). Кроме того при использовании несъемной опалубки не нужны устанавливать наружные строительные «леса».
                    </p>
                    <p style="margin-top:20px;">
                        Монтаж фасадной части несъемной опалубки из панелей СФБ и монтаж  внутренней части опалубки из панелей Стеклоцем ведется  непосредственно на строительной площадке. Стеклофибробетонная несъемная опалубка обеспечивает максимальную защиту стены здания от внешних факторов, так как имеет высокую прочность и пластичность, высокую огнестойкость, низкую водо- и воздухопроницаемость, экологичность. Несъемная стеклофибробетонная опалубка требует минимального эксплуатационного ухода и сохраняет свою форму и качество в течение многих десятков лет.
                    </p>
                    <p style="margin-top:20px;">
                        Легкость и безопасность, простота в работе и эксплуатации, экологичность, красота архитектуры и возможность воплощения любых самых сложных проектов,  делают несъемную стеклофибробетонную опалубку одним из самых востребованных материалов при строительстве частных и общественных, малоэтажных и высотных   зданий,  куполов, мостов, перекрытий и иных сооружений.
                    </p>
                    <p style="margin-top:20px;">
                        Преимущества  применения несъемной опалубки из стеклофибробетона очевидны.  Так, например, при строительстве коттеджей с применением метода монолитной заливки в несъемную опалубку из СФБ, время от начала строительства до ввода в эксплуатацию здания сокращается до 1-1,5 месяцев, а стеклофибробетонная несъемная опалубка, которую используют в монолитных железобетонных перекрытиях зданий, позволяет сэкономить около 35% строительных ресурсов и времени.
                    </p>
                </div>
            </div>
        </div>
    </div>
<div class="our-philosophy-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Строительный материал:<br/> панели "Стеклоцем"</h2>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-7" style="width:100%;">
                @*<h4>Строительный материал: панели "Стеклоцем"</h4>*@
                <p style="margin-top:20px;">
                    Стеклоцементные панели Стеклоцем (Glass Cement Board) СЦП — уникальный современный материал, который разработали специалисты компании Стройэволюция, с которой у нас установлена партнерские отношения.
                </p>
                <p style="margin-top:20px;">
                    Реализация проекта по разработке и производству стеклоцементных панелей производилась на основании анализа актуальных листовых материалов, которые широко разрекламированы и давно представлены на строительном рынке: плиты OSB (ОСБ), плиты ГКЛ и ГВЛ, асбестоцементные листы, фиброцементные панели, цементностружечные плиты и щепоцементные, СМЛ. Тщательное изучение позволило представить нечто совершенное новое на строительном рынке.
                </p>
                <p style="margin-top:20px;">
                    Панели Стеклоцем — это панели минеральные композиционные, в основе находится цементный вяжущий фракционированный песок, также добавляют: керамзит, сетку армирующую щелочестойкую, гранулированное пеностекло и добавки полифункциональные.
                </p>
                <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%; margin-top: 20px;">
                    @*<div><img src="/Content/img/gallery/hor/1.png" alt="" /></div>*@
                    <div><img src="/Content/img/gallery/hor/5.png" alt="" /></div>
                    <div><img src="/Content/img/gallery/hor/2.png" alt="" /></div>
                    <div><img src="/Content/img/gallery/hor/3.png" alt="" /></div>
                    <div><img src="/Content/img/gallery/hor/4.png" alt="" /></div>
                </div>
                <p style="margin-top:20px;">
                    Панели Стеклоцем производятся по вибропрокатной технологии. Данная технология позволяет получать панель переменной плотности (прочности) по высоте сечения: менее плотный слой формируется в области нейтральной оси, в серединной зоне, тогда как более плотные слои – в зоне крайних растянутых волокон. Весь технологический цикл производства полностью автоматизирован.
                </p>
                <p style="margin-top:20px;">
                    Лицевая поверхность панелей глянцевая, без раковин и неровностей. Такое качество предоставляет широкие возможности по декорированию панелей Стеклоцем без дорогостоящих и трудозатратных операций.
                </p>
                <p style="margin-top:20px;">
                    Панели можно окрашивать, кашировать, ламинировать. Высокая геометрическая точность панелей обеспечивается обработкой четырехсторонним автоматическим обрезчиком.
                </p>
                <p style="margin-top:20px;">
                    Регулируя оптимальным образом рецептурой сырьевой смеси, гранулометрическим составом заполнителей, армированием, технологическим режимом производства линии, получен спектр стеклоцементных панелей с уникальным диапазоном характеристик, что позволяет классифицировать панели как в классе теплоизоляционных (звукоизоляционных), конструкционно-теплоизоляционных так и конструкционных материалов и применять их при производстве как внутренних, так и наружных работ.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="form-area parallax" id="form-area">
    <div class="overlay">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="section-head">
                        <h2>Получите специальное предложение!</h2>
                        <p>
                            Наши сотрудники с удовольствием ответят на все ваши вопросы, произведут технические расчеты и, конечно же, сделают выгодное предложение специально для вас.
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8">
                    <div class="form">
                        <form class="contact-form text-center" id="contactform" role="form">
                            <input name="name" id="cf-name" type="text" placeholder="Моё имя" value="">
                            <input name="email" id="cf-email" type="email" placeholder="Мой адрес электронной почты" value="">
                            <input name="phone" id="cf-phone" type="text" placeholder="Мой телефон" value="" rows="7">
                            <input name="submit" class="button alt FeedbackFormSubmit" id="submit" type="button" value="Позвоните мне сейчас!" data-style="expand-left">
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2"></div>
            </div>
        </div>
    </div>
</div>
<div class="partners-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <ul>
                    <li>РусТех+</li>
                    <li>Евродом-СТ</li>
                    <li>СтройКаркас</li>
                    <li>М.Т. «ВПИК»</li>
                    <li>РемесленникЪ</li>
                    <li>Стройэволюция</li>
                </ul>
            </div>
        </div>
    </div>
</div>
