﻿@{
    ViewBag.Title = "Строительная компания Регион";
}

<div style="padding-top:20px;">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <div class="sub-heading">
                    <a class="button" href="/Content/Files/Alushta_changes_010516.jpg">
                        Скачать
                    </a>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Изменения в проектную декларацию</h2>
                    <p>
                        на Жилой девятиэтажный, двухподъездный дом по адресу:
                        г. Алушта, ул. 60 лет СССР в районе дома №16.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <table style="width:100%; margin-bottom:30px;">
            <tr>
                <td style="text-align:right; padding-right:80px;">дата внесения изменения «01» мая 2016 г.</td>
            </tr>
        </table>

        <div class="row">
            <div class="col-md-7" style="width: 100%; margin-bottom: 30px;">
                <p style="margin-top:20px;">
                    В соответствии с требованиями п. 4 ст. 19 Федерального Закона от 30.12.2004 N 214-ФЗ "Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты Российской Федерации", Застройщик Общество с ограниченной ответственностью Строительная Компания «Регион» вносит следующие изменения в проектную декларацию:
                </p>
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>9&nbsp;</td>
                    <td class="col-xs-6 col-md-4">Финансовые сведения</td>
                    <td class="col-xs-12 col-md-8">
                        По состоянию на 01.05.2016 года (за 1-й кв-л 2016 года) сформировались следующие финансовые показатели:<br />
                        - Убыток                                                        -             5 493 922,82 руб.<br />
                        - Кредиторская задолженность                      -  61 251 380,93 руб.<br />
                        - Дебиторская задолженность        -            81 342 429,63 руб.<br />
                    </td>
                </tr>
            </tbody>
        </table>

               <div class="row space-bottom" style="margin:100px 0 100px 0;">
            <div class="col-md-7" style="width:100%;">
                <table style="width:100%;">
                    <tr>
                        <td><h4>Директор ООО СК «Регион»</h4></td>
                        <td><img src="/Content/Img/subscription.png" width="250"></td>
                        <td style="text-align:right;"><h4>Е.А. Настусенко</h4></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

