﻿@{
    ViewBag.Title = "Строительная компания Регион";
}

<div class="featured-project-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head" style="padding-bottom:10px;">
                    <h2>Девятиэтажный дом<br />в городе Алушта</h2>
                    <p>
                        Жилой, двухсекционный, девятиэтажный, двухподъездный
                        дом по адресу: г. Алушта, улица 60 лет СССР, в районе дома №16.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="sub-heading">
                    <a class="button" href="/Alushta">
                        Проектная декларация
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="width:100%;">
                <p style="margin-top:20px;">
                    Целью проекта является реализация программы переселения жителей г. Алушты из «аварийного» жилья по утвержденному списку и согласованной квартирографией в количестве 26-ти квартир общей площадью не менее 1706,4 кв. метров, а также продажа оставшихся квартир на рынке жилья.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup SingleLinkImage" href="/Content/img/objects/alushta/1_1.jpg">
                        <img alt="project" src="/Content/img/objects/alushta/1.jpg" class="SingleImage">
                        <h6>Общий вид</h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup SingleLinkImage" href="/Content/img/objects/alushta/2_2.jpg">
                        <img alt="project" src="/Content/img/objects/alushta/2.jpg" class="SingleImage">
                        <h6>Перспектива 1</h6>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-fproject">
                    <a class="image-popup SingleLinkImage" href="/Content/img/objects/alushta/3_3.jpg">
                        <img alt="project" src="/Content/img/objects/alushta/3.jpg" class="SingleImage">
                        <h6>Перспектива 2</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="width:100%;">
                <p style="margin-top:20px;">
                    Перед строительной индустрией всегда стояла и стоит задача снижения себестоимости,
                    сокращения сроков строительства и улучшения качества и дизайна возводимых объектов.
                    Т.е., «как строить «элитные» дома, по цене домов «эконом» класса».
                    Одним из решений данного вопроса является строительство домов с использованием
                    металлокаркаса.
                </p>
                <p>
                    Данная строительная технология позволяет значительно сократить  сроки строительства,
                    так как не требуется время на высыхание и усадку бетона, т.е. мокрые процессы при этой технологии отсутствуют.
                    Например, одна бригада монтажников возводит 9-ти этажную коробку из металлокаркаса не более чем за 20 дней.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h4 style="margin: 20px 0 20px 0;">Ход строительства</h4>
            </div>
			<div class="col-md-7" style="width:100%;">
				<div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%; margin-top: 20px;">
					<div><img src="/Content/img/objects/alushta/gallery/1.jpg" alt="" /></div>
					<div><img src="/Content/img/objects/alushta/gallery/2.jpg" alt="" /></div>
					<div><img src="/Content/img/objects/alushta/gallery/3.jpg" alt="" /></div>
					<div><img src="/Content/img/objects/alushta/gallery/4.jpg" alt="" /></div>
                    <div><img src="/Content/img/objects/alushta/gallery/5.jpg" alt="" /></div>
				</div>
			 </div>	
        </div>

        <div class="row">
            <div class="col-md-7">
                <h4 style="margin: 20px 0 20px 0;">Планы этажей</h4>
            </div>
			<div class="col-md-7" style="width:100%;">
				<div class="slider multiple-items multiple-items-hor-single" align="center" style="width: 90%; left: 50%; margin-left: -45%; margin-top: 20px;">
					<div><p>1-й этаж</p><img src="/Content/img/objects/alushta/1f.png" alt="" /></div>
					<div><p>2-й этаж</p><img src="/Content/img/objects/alushta/2f.png" alt="" /></div>
					<div><p>3-й этаж</p><img src="/Content/img/objects/alushta/3f.png" alt="" /></div>
					<div><p>4-й этаж</p><img src="/Content/img/objects/alushta/4f.png" alt="" /></div>
					<div><p>5-й этаж</p><img src="/Content/img/objects/alushta/5f.png" alt="" /></div>
					<div><p>6-й этаж</p><img src="/Content/img/objects/alushta/6f.png" alt="" /></div>
					<div><p>7-й этаж</p><img src="/Content/img/objects/alushta/7f.png" alt="" /></div>
					<div><p>8-й этаж</p><img src="/Content/img/objects/alushta/8f.png" alt="" /></div>
					<div><p>9-й этаж</p><img src="/Content/img/objects/alushta/9f.png" alt="" /></div>
				</div>
			</div>	
        </div>

        <div class="row">
            <div class="col-md-7">
                <h4 style="margin: 20px 0 20px 0;">Объект на карте</h4>
            </div>
            <div class="col-md-7" style="width:100%;">
                <!--Конструктор: https://tech.yandex.ru/maps/tools/constructor/-->
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-lh1gn8JWPL-hLlqrgQ1N0bDjmEF4jfg&width=100%&height=520&lang=ru_RU&sourceType=constructor&scroll=true"></script>
            </div>
        </div>
    </div>
</div>


