﻿@{
    ViewBag.Title = "Строительная компания Регион";
}

<div style="padding-top:20px;">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <div class="sub-heading">
                    <a class="button" href="/Content/Files/Alushta.pdf">
                        Скачать
                    </a><br/>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12" style="width:100%; margin-top:70px;">
                <a href="/Alushta_changes_010416" target="_blank">Изменение на 01.04.2016</a><br />
                <a href="/Alushta_changes_010516" target="_blank">Изменение на 01.05.2016</a><br />
				<a href="/Alushta_changes_010616" target="_blank">Изменение на 01.06.2016</a><br />
                <a href="/Alushta_changes_210716" target="_blank">Изменение на 21.06.2016</a><br />
                <a href="/Alushta_changes_210616_2" target="_blank">Изменение на 21.06.2016 (2)</a><br />
                <a href="/Alushta_changes_250716" target="_blank">Изменение на 25.07.2016</a>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Проектная декларация</h2>
                    <p>
                        На жилой, двухсекционный, девятиэтажный, двухподъездный
                        дом по адресу: г. Алушта, улица 60 лет СССР, в районе дома №16.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <table style="width:100%; margin-bottom:70px;">
            <tr>
                <td style="padding-left:80px;">г. Алушта</td>
                <td style="text-align:right; padding-right:80px;">26 ноября 2015 года</td>
            </tr>
        </table>

        <div class="row text-center space-bottom">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Информация о застройщике</h3>
            </div>
            <div class="col-md-2"></div>
        </div>

        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>1&nbsp;</td>
                    <td class="col-xs-6 col-md-4">Фирменное наименование Застройщика</td>
                    <td class="col-xs-12 col-md-8">
                        Полное наименование предприятия: Общество с ограниченной ответственностью Строительная Компания «Регион»<br />
                        Сокращенное наименование: ООО СК «Регион»
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Место нахождения, почтовый адрес</td>
                    <td>
                        <p>Юридический адрес: 350020, г. Краснодар, Западный округ, ул. Рашпилевская дом 168/1;<p />
                        <p>Фактический адрес: 350007, г. Краснодар, Центральный округ, ул. Индустриальная дом 1/1;</p>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Режим работы</td>
                    <td>
                        <p>
                            Понедельник – пятница: с 09 часов 00 мин. до 18 часов 00 мин.
                            Перерыв с 13-00 до 14-00;
                        </p>
                        <p>
                            Cуббота, воскресенье – выходной;
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Размещение проектной декларации</td>
                    <td>Сеть «Интернет», адрес WEB-сайта: www.skregion.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Сведения о государственной регистрации Застройщика</td>
                    <td>
                        ООО СК «Регион» зарегистрировано 25.01.2008 года на основании Свидетельства о постановке на учет юридического лица выданного ИФНС России №1 по г. Краснодару серия 23 № 006488990<br/>
                        ИНН-2308140396, КПП-230801001; ОКПО-84441577; ОГРН-1082308000500;
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        Сведения об учредителях (участниках) застройщика,
                        которые обладают пятью и более процентами голосов
                        в органе управления Застройщика
                    </td>
                    <td>
                        <p>Гражданин РФ Корж Юрий Александрович - 50% - голосов;</p>
                        <p>Гражданин РФ Аракелян Роберт Валодяевич - 50% - голосов.</p>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Информация о лицензируемой (допусках к видам работ)<br /> деятельности Застройщика</td>
                    <td>
                        <p>ООО СК «Регион»  - член Саморегулируемой Организацией Союз «Строительное Региональное объединение»</p>

                        <p>
                            Свидетельство о допуске к определенным видам работ, которые оказывают влияние на безопасность объектов капитального строительства, №4270.01-2014-2308140396-С-047 от 06.08.2014г., №553802-2015-2308140396-с-047 от 20.11.2015 года.
                            Свидетельство выдано без ограничения срока и территории его действия.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>
                        Реализованные проекты строительства, в строительстве которых принимал участие Застройщик в течение предыдущих 3 (трех)лет, предшествующих опубликованию настоящей проектной декларации
                    </td>
                    <td>В течение предыдущих 3 (трех) лет Застройщик не принимал участие в строительстве жилья с соответствии с ФЗ № 214.</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Финансовые сведения</td>
                    <td>
                        <p>На момент опубликования настоящей проектной декларации по данным бухгалтерской отчетности сформировались следующие финансовые показатели:</p>
                        <br />
                        <p>
                            <table>
                                <tr>
                                    <td>Убыток</td>
                                    <td>3 287 133,57 руб.</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Кредиторская задолженность</td>
                                    <td>30 804 911,00 руб.</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Дебиторская задолженность</td>
                                    <td>20 601 218,71 руб.</td>
                                </tr>
                            </table>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--Информация о проекте строительства-->
        <div class="row text-center space-bottom" style="margin-top:80px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Информация о проекте строительства</h3>
            </div>
            <div class="col-md-2"></div>
        </div>

        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>1</td>
                    <td class="col-xs-6 col-md-4">Цель проекта строительства</td>
                    <td class="col-xs-12 col-md-8">Реализация программы переселения жителей г. Алушты из «аварийного» жилья по утвержденному списку и согласованной квартирографией в количестве 26-ти квартир общей площадью не менее 1706,4 кв. метров,  и продажи оставшихся квартир на рынке жилья.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Этапы и сроки реализации проекта строительства</td>
                    <td>
                        <p style="margin-bottom:10px;">
                            Проектом предусмотрены следующие сроки реализации объекта строительства:
                        </p>
                        <p>
                            <table>
                                <tr>
                                    <td>Начало строительства 1-очереди (секция-А,Б)</td>
                                    <td>25.11.2015 г.</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Окончание строительства 1-очереди (секция-А,Б)</td>
                                    <td>20.12.2016 г.</td>
                                </tr>
                            </table>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Экспертиза проектной документации </td>
                    <td>Положительное заключение негосударственной экспертизы № 4-1-1-0034-15 на проект «Жилой двухсекционный многоэтажный дом, расположенный по адресу:  Республика Крым г. Алушта, ул. 60 лет СССР, в районе дома №16» 11 ноября 2015г. Экспертным Центром «Призма» город Вологда (ООО «ЭЦ Призма»). Свидетельство аккредитации № РОСС RU.001.610520. Свидетельство аккредитации № RA.RU 610742.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Разрешение на строительство</td>
                    <td>Разрешение на строительство №РК 08315003411 выдано 25.11.2015 г. Службой Государственного надзора Республики Крым</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Земельный участок</td>
                    <td>ООО СК «Регион», Администрацией г. Алушты Республики Крым, выделен земельный участок,  площадью 3240 кв. метров, кадастровый №90:15:010105:852, собственником которого она является. Участок выделен на основании постановления Главы г. Алушты от 05.08.2015г. №790;<br/>
                        Договор аренды земельного участка № б/н от 17 августа 2015г. (Срок аренды 12 месяцев с момента подписания Договора)
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Местоположение строящегося объекта</td>
                    <td>РФ, Республика Крым г. Алушта ул. 60 лет СССР, в районе дома № 16.</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Описание строящегося объекта</td>
                    <td>
                        <p>
                            Жилой двухсекционный 9-ти этажный дом, расположенный по адресу: Республика Крым, г. Алушта, ул. 60 лет СССР, в районе дома №16. Дом состоит из двух секций (Секция -А и секция –Б). Первой очередью сдачи в эксплуатацию является секция –А.
                        </p>
                        <br/>
                        <p>
                            <strong>Описание Секция –А :</strong>
                        </p>
                        <p>
                            <table>
                                <tr>
                                    <td>Площадь участка</td>
                                    <td>1620 м²</td>
                                </tr>
                                <tr>
                                    <td>Площадь застройки</td>
                                    <td>392,5 м²</td>
                                </tr>
                                <tr>
                                    <td>Этажность</td>
                                    <td>9 этажей</td>
                                </tr>
                                <tr>
                                    <td>Количество квартир</td>
                                    <td>36 шт.</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Общая площадь квартир</td>
                                    <td>2461,6 м²</td>
                                </tr>
                                <tr>
                                    <td>Жилая площадь</td>
                                    <td>2348,2 м²</td>
                                </tr>
                            </table>
                        </p>
                        <br />
                        <p><strong>Описание квартир Секции -А:</strong></p>
                        <p>
                            <table>
                                <tr>
                                    <td>Однокомнатные</td>
                                    <td>1 шт. (общая-39,1 м², жилая-39,1 м²)</td>
                                </tr>
                                <tr>
                                    <td>Двухкомнатные</td>
                                    <td>3 шт. (общая-153,0 м², жилая-147,8 м²)</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Трехкомнатные</td>
                                    <td>30 шт. (общая-2084,1 м², жилая-1989,9 м²)</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Четырехкомнатные</td>
                                    <td>2 шт. (общая-185,4 м², жилая-171,4 м²)</td>
                                </tr>
                                <tr style="border-top-width: 0px; border-top-style: solid; border-color: grey;">
                                    <td><strong>Всего</strong></td>
                                    <td><strong>36шт. (общая-2461,6 м², жилая-2348,2 м²)</strong></td>
                                </tr>
                            </table>
                        </p>
                        <br />
                        <p>
                            <strong>Описание Секция –Б :</strong>
                        </p>
                        <p>
                            <table>
                                <tr>
                                    <td>Площадь участка</td>
                                    <td>1620 м²</td>
                                </tr>
                                <tr>
                                    <td>Площадь застройки</td>
                                    <td>392,5 м²</td>
                                </tr>
                                <tr>
                                    <td>Этажность</td>
                                    <td>9 этажей</td>
                                </tr>
                                <tr>
                                    <td>Количество квартир</td>
                                    <td>44 шт.</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Общая площадь квартир</td>
                                    <td>2164,4 м²</td>
                                </tr>
                                <tr>
                                    <td>Жилая площадь</td>
                                    <td>2070,6 м²</td>
                                </tr>
                            </table>
                        </p>
                        <br/>
                        <p><strong>Описание квартир Секции -Б:</strong></p>
                        <p>
                            <table>
                                <tr>
                                    <td>Однокомнатные</td>
                                    <td>17 шт. (общая-531,5 м², жилая-502,7 м²)</td>
                                </tr>
                                <tr>
                                    <td>Двухкомнатные</td>
                                    <td>17 шт. (общая-954,7 м², жилая-918,7 м²)</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Трехкомнатные</td>
                                    <td>10 шт. (общая-679,2 м², жилая-649,2 м²)</td>
                                </tr>
                                <tr style="border-top-width:0px; border-top-style:solid; border-color:grey;">
                                    <td><strong>Всего</strong></td>
                                    <td><strong>44шт. (общая-2164,4 м², жилая-2070,6 м²)</strong></td>
                                </tr>
                            </table>
                        </p><br/>

                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>
                        Количество и описание технических характеристик в соответствии с проектной документацией самостоятельных частей в составе строящегося объекта недвижимости, передаваемых участникам долевого строительства после получения разрешения на ввод объекта в эксплуатацию объекта недвижимости
                    </td>
                    <td>
                        <p>
                            Жилой, двухсекционный, 9-ти этажный дом:
                        </p>
                        <p>
                            <table>
                                <tr>
                                    <td>Площадь застройки</td>
                                    <td>762,9 м²</td>
                                </tr>
                                <tr>
                                    <td>Общая площадь здания</td>
                                    <td>6776,7 м²</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;">Общая площадь квартир</td>
                                    <td>4187,4 м²</td>
                                </tr>
                                <tr>
                                    <td>Количество квартир</td>
                                    <td>80 кв. (1 ком. - 18 шт., 2 ком. - 20 шт., 3 ком. - 40 шт., 4 ком. - 2 шт.)</td>
                                </tr>
                            </table>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Функциональное назначение нежилых помещений</td>
                    <td>В данном проекте используется только цокольный этаж - для подводки коммуникаций и их дальнейшей эксплуатации.</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Состав общего имущества в доме</td>
                    <td>
                        <p>
                            Технические помещения:<br />
                            - Машинные помещения лифтов, лифтовые шахты, электро-щитовые, помещения приборов учета.
                        </p><br/>
                        <p>
                            Помещения общего пользования:<br />
                            - Лестничные клетки, общие коридоры, лифтовые холлы.
                        </p><br />
                        <p>
                            Внутренние инженерные сети:<br />
                            - Электроснабжение, теплоснабжение, водоснабжение, канализация, противопожарное водоснабжение, отвод дождевых стоков, телефонизация, телевидение, интернет, пожарная сигнализация.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Планируемая стоимость строительства дома</td>
                    <td>Планируемая стоимость объекта: 123 500 000 (сто двадцать три миллиона пятьсот тысяч) рублей.</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Получение разрешения на ввод в эксплуатацию дома</td>
                    <td>Предполагаемый срок получения разрешения на ввод в эксплуатацию дома 10.06.2016 г.</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Способ обеспечение исполнения застройщиком обязательств по договорам долевого участия в строительстве</td>
                    <td>
                        <p>Залог - В соответствии со статьей №13- ФЗ №214.от 30.12.2004 г. (с момента государственной регистрацией договора, квартиры участников долевого строительства (залогодержателей) считаются находящимися в залоге.</p><br/>
                        <p>Аренда - Земельный участок, предоставленный для строительства многоквартирного дома, принадлежит Застройщику на праве аренды.</p>
                    </td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Возможные финансовые и прочие риски при осуществлении проекта строительства и меры по добровольному страхованию таких рисков</td>
                    <td>Договор застрахован со всеми действующими на момент регистрации Договора Законодательствами в страховой компании «Региональная страховая компания» на основании «Договора страхования гражданской ответственности застройщика за неисполнение или ненадлежащее исполнение обязательств по передаче жилого помещения по договору долевого участия в долевом строительстве-№35-15732/2015г.»<br/>
                        Объектами страхования являются жилые квартиры в количестве 26 штук, общей площадью не менее 1706,4кв.м.<br/>
                        Страховщик: ООО «Региональная страховая компания»<br/>
                        Адрес: 109457, г.Москва, ул.Окская, д.13, оф.4501<br/>
                        ИНН-1832008660 ; КПП-997950001;
                    </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Организации осуществляющие основные строительно-монтажные работы</td>
                    <td>
                        <p>
                            - Застройщик ООО СК «Регион»<br />
                            - Проектировщик  ООО «Регион проект»<br />
                            - Генеральный подрядчик ООО СК «Регион»<br />
                            - Подрядчик ООО «КРЫМИНВЕСТСТРОЙ-2005»
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Информация об иных договорах и сделках, на основании которых привлекаются денежные средства для строительства (создания) многоквартирного дома и (или) иного объекта недвижимости, за исключением привлечения денежных средств на основании договоров долевого участия</td>
                    <td>
                        <p>
                            Других договоров - нет
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row space-bottom" style="margin:100px 0 100px 0;">
            <div class="col-md-7" style="width:100%;">
                <table style="width:100%;">
                    <tr>
                        <td><h4>Директор ООО СК «Регион»</h4></td>
                        <td><img src="/Content/Img/subscription.png" width="250"></td>
                        <td style="text-align:right;"><h4>Е.А. Настусенко</h4></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

