﻿@{
    ViewBag.Title = "Строительная компания Регион";
}

<div style="padding-top:20px;">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <div class="sub-heading">
                    <a class="button" href="/Content/Files/Alushta_changes_21032017.jpeg">
                        Скачать
                    </a>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Изменения в проектную декларацию</h2>
                    <p>
                        на Жилой девятиэтажный, двухподъездный дом по адресу:
                        г. Алушта, ул. 60 лет СССР в районе дома №16.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <table style="width:100%; margin-bottom:30px;">
            <tr>
                <td style="text-align:right; padding-right:80px;">дата внесения изменения «21» марта 2017 г.</td>
            </tr>
        </table>

        <div class="row">
            <div class="col-md-7" style="width: 100%; margin-bottom: 30px;">
                <p style="margin-top:20px;">
                    В соответствии с требованиями п. 4 ст. 19 Федерального Закона от 30.12.2004 N 214-ФЗ "Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты Российской Федерации", Застройщик Общество с ограниченной ответственностью Строительная Компания «Регион» вносит следующие изменения в проектную декларацию:
                </p>
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>2&nbsp;</td>
                    <td class="col-xs-6 col-md-4">Место нахождения, почтовый адрес</td>
                    <td class="col-xs-12 col-md-8">
                        <p>Юридический адрес: 350020, г. Краснодар, Западный округ, ул. Рашпилевская, 201 офис 4;<p />
                        <p>Фактический адрес: 350000, г. Краснодар, Центральный округ, ул. Северная, 404  офис 7;</p>
                    </td>
                </tr>
                <tr>
                    <td>4&nbsp;</td>
                    <td class="col-xs-6 col-md-4">Размещение проектной декларации</td>
                    <td class="col-xs-12 col-md-8">
                        Сеть «Интернет», адрес WEB-сайта: www.скрегион.рф
                    </td>
                </tr>
                <tr>
                    <td>7&nbsp;</td>
                    <td class="col-xs-6 col-md-4">Информация о лицензируемой (допусках к видам работ)<br /> деятельности Застройщика</td>
                    <td class="col-xs-12 col-md-8">
                        <p>ООО СК «Регион»  - член Саморегулируемой Организацией Союз «Строительное Региональное объединение»</p>

                        <p>
                            Свидетельство о допуске к определенным видам работ, которые оказывают влияние на безопасность объектов капитального строительства, №4270.01-2014-2308140396-С-047 от 06.08.2014г., №553802-2015-2308140396-с-047 от 20.11.2015 года., №С-047-23-4270-23-170317 от 17.03.2017г.
                            Свидетельство выдано без ограничения срока и территории его действия.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

               <div class="row space-bottom" style="margin:100px 0 100px 0;">
            <div class="col-md-7" style="width:100%;">
                <table style="width:100%;">
                    <tr>
                        <td><h4>Директор ООО СК «Регион»</h4></td>
                        <td><!--img src="/Content/Img/subscription.png" width="250"--></td>
                        <td style="text-align:right;"><h4>Бураков В.А.</h4></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

