﻿@{
    ViewBag.Title = "Проектные декларации";
}

<div style="padding-top:20px;">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Объекты</h2>
                    <p>
                        <img alt="project" src="/Content/img/objects/alushta/2.jpg" class="SingleImage" style="height:100px;">
                        <img alt="project" src="/Content/img/objects/alushta/3.jpg" class="SingleImage" style="height:100px;">
                    </p>
                    <p>
                        Жилой, двухсекционный, девятиэтажный, двухподъездный
                        дом по адресу: г. Алушта, улица 60 лет СССР, в районе дома №16 <br /> <a href="/Alushta_object">Подробнее...</a><br />
                        <span style="font-style:italic; color: grey;">(Опубликовано 02.12.2015)</span>
                    </p>
                    <h2></h2>
                    <p style="">
                        <img alt="project" src="/Content/img/objects/kindergarten/1.jpg" class="SingleImage" style="height:100px;">
                    </p>
                    <p>
                        Модульный детский сад на 100 мест с производственно-
                        хозяйственным и инженерным оборудованием и
                        производственно-хозяйственным инвентарём, мебелью и
                        оборудованием для Муниципального дошкольного
                        образовательного учреждения Детский сада №5 «Солнышко»
                        г. Алушты, расположенного по адресу: г. Алушта, ул.
                        Симферопольская, 22. <br /> <a href="/Kindergarten_object">Подробнее...</a><br />
                        <span style="font-style:italic; color: grey;">(Опубликовано 27.05.2016)</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


