﻿@{
    ViewBag.Title = "Проектные декларации";
}

<div style="padding-top:20px;">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head">
                    <h2>Проектные декларации</h2>
                    <p>
                        Жилой, двухсекционный, девятиэтажный, двухподъездный
                        дом по адресу: г. Алушта, улица 60 лет СССР, в районе дома №16 <br /> <a href="/Alushta" target="_blank">Подробнее...</a><br />
                        <span style="font-style:italic; color: grey;">(Опубликовано 02.12.2015)</span><br />
                        <a href="/Alushta_changes_010416" target="_blank">Изменение на 01.04.2016</a><br />
                        <a href="/Alushta_changes_010516" target="_blank">Изменение на 01.05.2016</a><br />
						<a href="/Alushta_changes_010616" target="_blank">Изменение на 01.06.2016</a><br />
                        <a href="/Alushta" target="_blank">Далее...</a>
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


