﻿@{
    ViewBag.Title = "Строительная компания Регион";
}

<style>
    .philosophy-list .fa_mod {
        border-radius: 7px;
        transition: 0.5s;
        width: 40px;
        text-align: right;
        line-height: 1;
        font-size: 15px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
    }
    .li_mod {
        margin: 34px 0px;
        line-height:2;
    }

</style>

<div class="featured-project-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="section-head" style="padding-bottom:10px;">
                    <h2>Презентация технологии строительства элитных объектов по цене эконом класса </h2>
                    <p>
                        ООО Строительная компания «Регион» г. Краснодар
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 style="margin: 70px 0 20px 0;">Монолитно-каркасная технология: несущий металлокаркас + несъемная опалубка + пенобетон.</h4>
            </div>
            <div class="col-md-3" style="display:inline-block;">
                <div class="single-fproject">
                    <a class="image-popup SingleLinkImage" href="/Content/img/presentations/pic1.png">
                        <img alt="project" src="/Content/img/presentations/pic1.png" class="SingleImage">
                    </a>
                </div>
            </div>
            <div class="col-md-9" style="display:inline-block;">
                <p>
                    Инновационное сочетание трех прогрессивных строительных технологий: металлокаркасной, пенобетонной и применение несъемной опалубки из стеклофибробетона с использованием ЛМК в качестве несущего каркаса для стен и перекрытий, устройство несъемной опалубки из СФБ с применением в качестве утеплителя легкого пенобетона, позволяет быстро, экономично и качественно возводить жилые и общественные здания высотой до 35 этажей.
                </p>
                <div class="sub-heading" style="text-align:center; margin-top:60px;">
                    <a class="button" href="/Content/Files/Presentation.pptx">
                        Скачать
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 style="margin: 70px 0 20px 0;">Возможности презентуемой технологии.</h4>
            </div>
            <div class="col-md-12" style="display:inline-block;margin-bottom:20px;">
                <p>
                    По предлагаемой монолитно-каркасной технологии могут возводиться:
                </p>
            </div>
            <div class="col-md-3" style="display:inline-block;padding-top:8px;">
                <div class="single-fproject">
                    <a class="image-popup SingleLinkImage" href="/Content/img/1(1).jpg">
                        <img alt="project" src="/Content/img/1(1).jpg" class="SingleImage">
                    </a>
                </div>
                <div class="single-fproject">
                    <a class="image-popup SingleLinkImage" href="/Content/img/parking.jpg">
                        <img alt="project" src="/Content/img/parking.jpg" class="SingleImage">
                    </a>
                </div>
            </div>
            <div class="col-md-1" style="display:inline-block;"></div>
            <div class="col-md-8" style="display:inline-block;">
                <ul class="philosophy-list" style="padding:0;">
                    <li><i class="fa fa-building-o"></i><span>Индивидуальные жилые здания до 3 этажей.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Комплект-конструктор коттеджа «Сделай Сам».</span></li>
                    <li><i class="fa fa-building-o"></i><span>Многоэтажные дома до 35 этажей.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Надстройка мансардных этажей.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Дошкольные-образовательные учреждения, ясли, детские садики.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Школы.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Объекты здравоохранения.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Спортивные сооружения.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Административные здания.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Социальные объекты.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Многоуровневые автомобильные стоянки и паркинги.</span></li>
                    <li><i class="fa fa-building-o"></i><span>Промышленные здания и сооружения.</span></li>
                </ul>
            </div>
        </!--div>

        <div class="row">
            <div class="col-md-12">
                <h4 style="margin: 70px 0 20px 0;">Преимущества предлагаемой технологии строительства.</h4>
            </div>
            <div class="col-md-12" style="display:inline-block;">
                <p>
                    По данной  технологии возможно вести ускоренное строительство зданий от 2-х до 35 этажей. В данной технологии строительства используется:
                </p>
                <ul class="philosophy-list" style="padding:0;">
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>устройство облегченных фундаментов по традиционной технологии.</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>монтаж несущего каркаса из черного металла, легкие металлические конструкции (ЛМК).</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>возведение наружных стен выполняется методом «несъемной опалубки», которая крепится на двойной каркас из ЛСТК, фасадная часть наружных стен выполняется из панелей изготовленных из стеклофибробетона (СФБ) с элементами декора, внутренняя часть наружных стен возводится из панелей Стеклоцем.</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>межквартирные и межкомнатные перегородки монтируются из выполненных в заводских условиях готовых панелей.</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>утепление стен производится на объекте путем заполнения пространства между панелями опалубки легким пенобетоном, с высоким коэффициентом теплозвукоизоляции.</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>межэтажные перекрытия выполняются из пустотных ж/б плит или из металлических ферм, которые заливаются пенобетоном.</span></li>
                </ul>
                <p>
                    В результате применения данной технологии получаются быстровозводимые здания эконом-класса, которые обладают повышенной покупательской привлекательностью, так как внешний облик зданий – это здания премиум класса.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 style="margin: 70px 0 20px 0;">Металлокаркас для зданий из ЛМК.</h4>
            </div>
            <div class="col-md-7" style="width:100%;">
                <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%; margin-top: 20px;">
                    <div><img src="/Content/img/presentations/img2.jpg" alt="" /></div>
                    <div><img src="/Content/img/presentations/img3.jpg" alt="" /></div>
                    <div><img src="/Content/img/presentations/img4.jpg" alt="" /></div>
                    <div><img src="/Content/img/presentations/img5.jpg" alt="" /></div>
                    <div><img src="/Content/img/presentations/img6.jpg" alt="" /></div>
                    <div><img src="/Content/img/presentations/img7.jpg" alt="" /></div>
                    <div><img src="/Content/img/presentations/img8.jpg" alt="" /></div>
                    <div><img src="/Content/img/presentations/img1.jpg" alt="" /></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 style="margin: 70px 0 20px 0;">Описание каркасно-монолитной  технологии.</h4>
            </div>
            <div class="col-md-12" style="display:inline-block;">
                <ul class="philosophy-list" style="padding:0;">
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>Каркасно-монолитная технология – это оптимальное решение как для индивидуального строительства, так и для многоэтажных зданий до 30 этажей.</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>При данной технологии несущий каркас здания выполняется из ЛМК (легких металлических конструкций).</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>В качестве «несъемной» опалубки для устройства фасадной части стены применяются панели из стеклофибробетона (СФБ), для внутренней части стены используются панели из Стеклоцема.</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>Все эти панели представляют собой несъемную опалубку, которая крепится самонарезающими винтами к стальному каркасу из ЛСТК, а пространство между листами заполняется монолитным пенобетоном (конструкция стены).</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>После твердения пенобетона, за счет мощной адгезии, монолитный пенобетон и панели опалубки становятся единым целым, тем самым повышая жесткость здания.</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>Внутренние межкомнатные и межквартирные перегородки монтируются из готовых стеновых панелей, изготавливаемых в заводских условиях</span></li>
                    <li class="li_mod"><i class="fa fa_mod fa-dot-circle-o"></i><span>Межэтажные перекрытия выполняются из пустотных ж/б плит или из металлических ферм, которые заполняются пенобетоном</span></li>
                </ul>
            </div>
        </div>

        <div class="row text-center" style="margin:70px 0 70px 0;">
            <div class="col-md-12">
                <div class="sub-heading">
                    <a class="button" href="/Content/Files/Presentation.pptx">
                        Далее...
                    </a><br />
                </div>
            </div>
        </div>

    </div>
</div>


